* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

button {
    background-color: transparent;
    border: unset;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

body {
    background-color: #0A0D13;
}

.container {
    margin: auto;
    max-width: 1160px;
    height: 100%;
}

header {
    width: 100%;
    padding: 28px 0px;
    position: fixed;
    border-bottom: 1px solid #707070;
    z-index: 99;
}

header.sticky{
    padding: 30px 10px;
    background-color: black;
}

header.sticky ul li a{
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 47px;
}

header nav ul li {
    padding: 0px 15px;
}

header nav ul li a {
    font-size: 16px;
}

header nav ul li.active a {
    color: #F49F0A;
}

header nav {
    position: relative;
}

header nav #indicator {
    display: block;
    height: 2px;
    background: #F49F0A;
    position: absolute;
    bottom: -35px;
    transition: left 0.5s ease;
}

section.explore {
    position: relative;
    width: 100%;
    height: 100vh;
}

section.explore .explore-back {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

section.explore .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section.explore h2 {
    font-size: 64px;
    max-width: 645px;
}

section.explore p {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

section.explore p::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 1.5px;
    background-color: white;
}

section.explore a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    background-color: #F49F0A;
    margin-top: 60px;
}

section.explore a span.text {
    padding: 16px 0px 14px 20px;
}

section.explore a span.icon {
    padding: 13px;
    background-color: #E89400;
}

/* About-As */

.left-container {
    padding-left: calc((100vw - 1160px) / 2);
}

.information {
    width: 50%;
    height: 100%;
    padding: 122px 0px 120px 0px;
}

.information .left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.information h2 {
    font-size: 46px;
    margin-bottom: 30px;
}

.information p{
    font-size: 16px;
    margin-bottom: 60px;
}

section.aboutas {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

section.aboutas a span.text {
    padding: 13px 0px 13px 20px;
    background-color: #F49F0A;
    color: black;
}

section.aboutas a span.icon {
    padding: 13px;
    background-color: #E89400;
}

.maintable{
    height: 145px;
    margin-bottom: 55px;
    position: relative;
}

.maintable .table {
    position: absolute;
    background-color: #1F242E;
}

.table ul {
    width: 830px;
    list-style: none;
    display: flex;
    padding: 25px 0px 31px 0px;
}

.table ul li {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.table ul li b {
    font-size: 42px;
}

.table ul li:not(:last-child)::after {
    content: '';
    display: inline-block;
    height: 35px;
    width: 1.5px;
    background-color: #2B313C;
    position: absolute;
    right: 0px;
    transform: translateY(-50%);
    top: 50%;
}

.image {
    width: 50%;
    height: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Discover */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


body{
    background-color: #0A0D13;
}

.container-discover {
    margin: auto;
    max-width: 1160px;
    height: 100%;
}

section.discover {
    width: 100%;
    padding: 120px 0px;
}

section.discover .container-discover {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.discover-title h2 {
    font-size: 42px;
    color: white;
    text-align: center;
}

.discover-title p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.discoveries {
    width: 100%;
    display: flex;
    gap: 70px; 
}

.discoveries .discovery-country {
    flex-grow: 1;
    display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: flex-start;

}

.discoveries .discovery-country .country-info {
    position: relative;
    width: 100%;
}

.discoveries .discovery-country .country-info .country-img {
    width: 100%;
}

.discoveries .discovery-country .country-info .country-img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 70%, rgba(10,13,19,1) 98%);
}

.discoveries .discovery-country .country-info .country-text {
    position: absolute;
    bottom: 0px;
    padding-left: 30px;
}

.discoveries .discovery-country .country-info .country-text h2 {
    font-size: 34px;
    color: #F49F0A
}

.discoveries .discovery-country a {
    padding: 15px 20px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    gap: 27px;
    margin-left: 30px;
}

.discoveries .discovery-country:nth-child(2) {
    transform: translateY(60px);
}

/* Blog */
  
.Blog-title{
    text-align: center;
    color: white;

}

.Blog-title h2{
    font-size: 42px;
}

.Blog-title p{
    font-size: 16px;
}

.bloges {
    display: flex;
    flex-direction: row;
    padding: 150px 0px;
    align-items: flex-end;
    width: 100%;
}

.blog-item {
    width: 25%;
    height: 100%;
    position: relative;
}

.blog-item h2 {
    position: absolute;
    bottom: 23px;
    left: 20px;
    max-width: 75%;
    font-size: 18px;
 }
 
 .blog-item img{
     opacity: 0.7;
     width: 100%;
     object-fit: cover;
 }

/* journal */


.journal-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.journal-title h2{
    font-size: 42px;
}

.journal-title p {
    font-size: 16px;
    padding: 30px 0px;
    max-width: 520px;
}

.journal .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.journales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    width: 100%;
    height: 100%;
}


.journal-item .journal-img {
    width: 100%;
    object-fit: cover;
}

.journal-item .journal-info {
    background-color: #1F242E;
    padding: 30px;
}

.journal-item .journal-info .avatar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.journal-item .journal-info h2 {
    font-size: 18px;
    margin: 14px 0px 12px;
}

.journal-item .journal-info .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.journal-item .journal-info .actions p {
    font-size: 14px;
    color: #757D8C;
}

section.journal a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 23px;
    background-color: #F49F0A;
    margin-top: 60px;
}

section.journal a span.text {
    padding: 16px 0px 14px 20px;
}

section.journal a span.icon {
    padding: 13px;
    background-color: #E89400;
}

/* raido logo */

.raido-logo {
    padding: 200px 0px 199px 0px;
    display: flex;
    justify-content: center;
}

/* Galeri photo */

.galeri-title{
    text-align: center;
}

.galeri-title h2 {
    font-size: 42px;
}

.galeri-title p {
    font-size: 16;
    padding: 32px 0px;
}

.photos {
    width: 100%;
    padding: 0px 20px 0px 20px;  
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.photo {
    width: 20%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeri-text{
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    transition: bottom 0.3s ease-in-out;
}

.galeri-text h2{
    font-size: 34px;
}

.galeri-text p{
    font-size: 16px;
}

.photo:hover {
    transform: scale(1.15, 1.05);
    z-index: 99;
}

.photo:hover .galeri-text {
    margin-bottom: 245px;
}

/*contact*/

section.contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.contact-text-conteiner{
    width: 50%;
    height: 100%;
    padding: 258px 218px 308px 140px;
}

.contact-text-conteiner h2{
    width: 75%;
    font-size: 34px;
}

.contact-text-conteiner p{  
    padding: 32px 175px 300px 0px;
    font-size: 14px;
    width: 120%;
}

.contact-adres-conteiner{
    width: 50%;
    height: 100%;   
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 114px;
}

.phone{
    margin-top: 187px;
    border-radius: 50%;
    border: 1px solid white;
    align-items: center;
    background-color: #12151B;
}

.phone img{
    padding: 20px 110px;
}

.phone h2{
    padding: 0px 76px;
    margin: -5px 0px;
    font-size: 34px;
}

.phone h3{
    padding: 11px 60px;
}
 
.phone p{
    padding: 7px 3px 39px 1px;
    margin: -4px 61px;
    font-size: 16px;
}

.mail{
    margin-top: 187px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #12151B;
}

.mail img{
    margin: 70px 90px   ;
}

.mail h2{
    width: 60%;
    margin: -52px -45px 39px 57px;
}

/* last-page */

.last-title{
    text-align: center;
}

.last-title h2{
    font-size: 22px;
}

.last-icone{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 30px;
}

.last-information{
  margin-top: 25px;
}

.last-information h2{
    font-size: 14px;
    text-align: center;
}


.footer {
    width: 100%;
    position: absolute;
    border-bottom: 1px solid #707070;
    justify-content: center;
    z-index: 99;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 47px;
    justify-content: center;
}

footer nav ul li {
    padding: 0px 15px;
}

footer nav ul li a {
    font-size: 16px;
}

.last-menu{
    display: flex;
    gap: 65px;
    margin-top: 25px;
}

.page-bottom h2{
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

